In [1]:
import pandas as pd
import os
import time
from datetime import datetime, timedelta 

datafolder = 'tests/testfiles'

In [9]:
file_path = os.path.join(datafolder, "correctcsv_notaginfo.csv")
df = pd.read_csv(file_path, dayfirst=True, sep=";", skiprows=[1,2])
df = df.where(pd.notnull(df), None)
df = df.drop(df.columns[0], axis=1)
df.to_csv('pd_notnull.csv', sep=";")

     column1  column2  column3 column4  column5 column6
0          1  5.73642  5.99174  13.889     None    None
1          1  5.73642  5.99174  13.889     None    None
2          1  5.73642  5.99174  13.889     None    None
3          1  5.73642  5.99174  13.889     None    None
4          1  6.46235  5.99174  13.889     None    None
...      ...      ...      ...     ...      ...     ...
8753       1     None     None    None  4.42923      -6
8754       1     None     None    None  4.24677      -6
8755       1     None     None    None  4.44499      -6
8756       1     None     None    None  4.47387      -6
8757       1     None     None    None  4.56029      -6

[8758 rows x 6 columns]

In [56]:
def determine_dayfirst(df):
    datetimecolumn = df.columns[0]
    df['Datetime'] = pd.to_datetime(df[datetimecolumn], dayfirst=True)
    
    year = df['Datetime'].iloc[40].year
    jan13index = df[df['Datetime'].dt.strftime('%Y-%m-%d') ==f'{year}-01-13'].index[0]
    monthindex1 = df['Datetime'].iloc[jan13index].month
    monthindex2 = df['Datetime'].iloc[jan13index-1].month

    if monthindex1== monthindex2:
        dayfirst_inferred_value = True
    else:
        dayfirst_inferred_value=False
    return dayfirst_inferred_value

In [61]:

file_path = os.path.join(datafolder, 'WES_data_deel1.csv')

start = time.time()

df = pd.read_csv(file_path, sep=";", engine='python')
dayfirst_inferred_value = determine_dayfirst(df)
datetimecolumn = df.columns[0]
df['Datetime'] = pd.to_datetime(df[datetimecolumn], dayfirst=dayfirst)

end = time.time()
print(end-start)

2.7151551246643066

In [79]:
file_path = os.path.join(datafolder, 'Zeoliet deel2.csv')
start = time.time()

df = pd.read_csv(file_path, sep=";", engine='python')
datetimecolumn = df.columns[0]
df['Datetime'] = pd.to_datetime(df[datetimecolumn], dayfirst=True)

year = df['Datetime'].iloc[40].year
jan13index = df[df['Datetime'].dt.strftime('%Y-%m-%d') ==f'{year}-01-13'].index[0]
monthindex1 = df['Datetime'].iloc[jan13index].month
monthindex2 = df['Datetime'].iloc[jan13index-1].month

if monthindex1== monthindex2:
    dayfirst_inferred_value = True
else:
    dayfirst_inferred_value=False

print(f'Dayfirst set to: {dayfirst_inferred_value}')

df['Datetime'] = pd.to_datetime(df[datetimecolumn], dayfirst=dayfirst)

end = time.time()
print(end-start)

Dayfirst set to: False
2.5501458644866943

1